<?xml version="1.0"?>
<!--
/**
 * Copyright ©q-invoice B.V.. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_invoice_pay">
        <observer name="qinvoice_invoice_pay_event" instance="Qinvoice\Connect\Observer\OrderInvoicePay" shared="true"/>
    </event>
</config>
