<?xml version="1.0"?>
<!--
/**
 * Copyright ©q-invoice B.V.. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="connect" frontName="connect">
            <module name="Qinvoice_Connect" />
        </route>
    </router>
</config>
